
@import url('https://fonts.googleapis.com/css2?family=Updock&family=Tangerine&family=Playfair+Display:wght@400&display=swap');


body {
  font-family: 'Playfair Display', sans-serif; 
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}


.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

header {
  width: 100%;
  background-color: #9b9ece;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}


.font-updock {
  font-family: 'Updock', cursive; 
}


.color-info h3 {
  font-family: 'Tangerine', cursive; 
  margin: 0;
}


.color-info {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}


.instructions {
  margin-top: 30px;
  font-size: 1rem;
  color: #555;
}


.copy-button {
  margin-top: 20px;
  text-align: center;
}

.copy-button button {
  background-color: #9b9ece;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.copy-button button:hover {
  background-color: #7a8fcf;
}
